{% extends "base_site.html" %} {% block title %} Form Wizards {% endblock title %} {% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3></h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <center>
              <div>
              </div>
              <img src="/static/images/register_done.PNG" />
              <h1>비밀번호가 정상적으로 변경되었습니다.</h1>
              <div class="ln_solid"></div>
              <a class="btn btn-default" href="/">Home</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super}}
<!-- jQuery Smart Wizard -->
<script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js?ver=1"></script> {% endblock javascripts %}