{% extends "base_site.html" %}

{% block title %} Data 입력 {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- Dropzone.js -->
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>데이터 컬럼 선택</h3>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div style="float : left; width : 50%" class="col-md-8 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title"><h2> 데이터 컬럼 선택</h2> <br/></div>
                        <div class="x_content">
                            <!--#본문-->
                            ·학습데이터의 입력 선택 <br/>
                            ·학습데이터의 출력(목표필드) 선택 <br/>
                        </div>
                    </div>
                </div>
                <div style="float : right; width : 50%" class="col-md-8 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <!--<div class="x_title"> <h2> ML 테스크 생성</h2> <br/></div>-->
                        <div class="x_content">
                            <!--<div class="clearfix">ML태스크 유형 선택가이드</div> <br/>-->
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>태스크 생성</div>
        </div>


    </div>
<div class="row">
        <div class="col-md-14">
            <div class="x_panel">
                <div class="x_title">
                    <h2 id="table_name">
                        <small>Sample table of datasets</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}
